.NotFound{
    background: url("https://img.freepik.com/free-vector/glitch-error-404-page-background_23-2148090004.jpg?w=740&t=st=1686502189~exp=1686502789~hmac=2eba3cd0122e48bce741394997d026ba5e6e8a948428074e0f11545761104e72") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.NotFound button{
    width: 580px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(237 237 242);
    color: #191616;
    font-size: large;
    font-weight: 900;
    margin-top: 39rem;
}